.container {
  width: $max-width;
    margin: 0 auto;
  // padding: 0 $padding-min-width;

  @media (min-width: $bp-1+px) {
    width: $width-bp-1;
    margin: 0 auto;
    // padding: 0 $padding-bp-1;
  }

  @media (min-width: $bp-2+px) {
    width: $width-bp-2;
    margin: 0 auto;
    // padding: 0 $padding-bp-2;
  }

  @media (min-width: $bp-3+px) {
    width: $width-bp-3;
    margin: 0 auto;
    // padding: 0 $padding-bp-3;
  }

  @media (min-width: $bp-4+px) {
    width: $width-min;
    padding: 0 $padding-min-width;
  }
}
