.additional-nav {

  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #7C7C7C;
}

.additional-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (max-width: $bp-3+px) {
    justify-content: center;
  }
}

.additional-nav__item {
  margin-left: 19px;

  &:first-child {
    margin-left: 0;
  }
}


.additional-nav__item a {
  transition: all 0.3s ease;

  &:hover {
    color: $color-yellow;
  }
}
