.main-nav {

  @media (max-width: $bp-3+px) {
    position: relative;

    min-height: 52px;

    border: 1px solid $color-yellow;
    background-color: $color-white;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $bp-3+px) {
    position: relative;

    display: block;

    &.open {
      position: absolute;
      z-index: 2;
      width: 100%;

      background-color: $color-white;
    }

    &.open .main-nav__item {
      display: block;

      border-bottom: 1px solid $color-yellow;
    }
  }
}

.main-nav__item {
  margin-right: 70px;
  padding: 5px 0;

  &:last-child {
    margin-right: 20px;
  }

  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #333333;

  &--active a {
    color: $color-yellow;
  }

  @media (max-width: $bp-1+px) {
    margin-right: 20px;
  }

  @media (max-width: $bp-3+px) {
    display: none;
    margin-right: 0;
    padding: 0;

    &:last-child {
     margin-right: 0;
    }

    &--active {
      display: block;
    }
  }
}

.main-nav__item a {
  transition: all 0.3s ease;

  &:hover {
    color: $color-yellow;
  }

  @media (max-width: $bp-3+px) {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
  }
}
