.page-header {
  border-top: 5px solid #333333;
}

.page-header__wrapper {}

.page-header__top {
  padding-top: 10px;
  padding-bottom: 16px;
}

.page-header__middle {
  margin-bottom: 40px;

  @media (max-width: $bp-3+px) {
    margin-bottom: 20px;
  }
}

.page-header__middle-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  @media (max-width: $bp-3+px) {
    flex-direction: column;
    align-items: center;
  }
}

.page-header__logo {
  margin-right: auto;

  @media (max-width: $bp-2+px) {
    flex: 0 0 50%;
  }

  @media (max-width: $bp-3+px) {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;

    text-align: center;
  }


}

.page-header__phone {
  margin-bottom: 10px;

  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #000000;

  span {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;

    vertical-align: top;

    background-color: $color-green;
    background-image: sassvg("phone", $color-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 18px;
  }

  @media (max-width: $bp-2+px) {
    flex: 0 1 100%;
    order: 1;

    margin-top: 30px;
    margin-right: 27px;
    margin-bottom: 0;

    text-align: right;
  }

  @media (max-width: $bp-3+px) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

    text-align: center;
  }
}

.page-header__search {
  margin-left: 27px;

  @media (max-width: $bp-2+px) {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    margin-left: 0;
  }

  @media (max-width: $bp-3+px) {
    justify-content: center;
    margin-bottom: 15px;
  }

  @media (max-width: $bp-4+px) {
    width: 100%;
  }
}

.page-header__bottom {
  background-color: $color-gray;
}

.page-header__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @media (max-width: $bp-3+px) {
    display: block;
  }
}

.page-header__nav {
  @media (max-width: $bp-3+px) {
    position: relative;

    align-self: auto;
    margin-bottom: 15px;
  }
}


.page-header__burger {
  display: none;

  @media (max-width: $bp-3+px) {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 10px;

    display: block;
    width: 30px;
    height: 20px;

    cursor: pointer;

    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $color-yellow;

      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 1px;
    }

    &::after {
      bottom: 0;
    }

    & span {
      position: absolute;
      top: 9px;

      width: 100%;
      height: 2px;
      background-color: $color-yellow;

      transition: all 0.3s ease 0s;
    }

    &.active::before {
      top: 9px;
      transform: rotate(45deg);
    }

    &.active::after {
      bottom: 9px;
      transform: rotate(-45deg);
    }

    &.active span {
      transform: scale(0);
    }
  }
}

.page-header__social {
  @media (max-width: $bp-3+px) {
    display: flex;
    justify-content: flex-end;
  }
}
