.social {}

.social__list {
  display: flex;
}

.social__item {
  margin-left: 5px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  border-radius: 50%;
  background-color: #c6c6c6;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-yellow;

    .social__icon {
      fill: $color-black;
    }
  }
}

.social__icon {
  fill: $color-white;
  transition: all 0.3s ease;
}
