.recipes {
  padding-top: 97px;
  padding-bottom: 122px;
}

.recipes__title {
  margin-bottom: 54px;

  color: $color-black !important;
}

.recipes__body {
  display: flex;
  margin: -15px;

  @media (max-width: $bp-3+px) {
    display: block;
    margin: 0;
  }
}

.recipes__column {
  flex: 0 0 33.333%;
  padding: 0 15px;

  @media (max-width: $bp-3+px) {
    width: auto;
    padding: 0;

    margin-bottom: 58px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.recipes__list {}

.recipes__item {
  margin-bottom: 15px;
  padding-left: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  background-image: sassvg("arrow-circle-right", $color-green);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: left 5px;
}

.recipes__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-black;
}
