.contact-us {}

.contact-us__title {
  margin-bottom: 14px;
}

.contact-us__text {
  max-width: 635px;
  margin:0 auto;
  margin-bottom: 25px;

  color: $color-white;
}

.contact-us__sotial {
  text-align: center;
}
